# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.*.swp
*.swp
bin/
vendor/

# Node.js / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
.pnp
.pnp.js
.DS_Store

# IDE / OS
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.vshost.exe